#houseno {
    width: 150px;
    display: inline-block;
}

#street {
    width: 150px;
    display: inline-block;
}


#landmark {
    width: 150px;
    display: inline-block;
}

label{
    font-weight: bold;
  }


  .container{
    background-image:url(../../../assets/bgimage_t.jpg);
    opacity: 0.75;
    max-height: max-content ;
    background-size: cover;
  }