#houseno {
    width: 150px;
    display: inline-block;
}

#street {
    width: 150px;
    display: inline-block;
}


#landmark {
    width: 150px;
    display: inline-block;
}

label{
    font-weight: bold;
  }


  .container {
	
	border-radius: 12px;
	padding: 40px;
	border-style: solid;
	border-color: #ffa31a;
	margin-top:40px;
	
}