<div class="container">
<section>
       
<ngb-carousel>
        
        <ng-template ngbSlide>
                <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                          <img [src]="images[0]" alt="Random third slide" >
                        </div>
                        <div class="carousel-caption">
                          <h3>Third slide label</h3>
                          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                      </ng-template> 
                <div class="picsum-img-wrapper">
                  <img [src]="images[1]" alt="Random second slide">
                </div>
                <div class="carousel-caption">
                  <h3>Second slide label</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img [src]="images[2]" alt="Random third slide">
                </div>
                <div class="carousel-caption">
                  <h3>Third slide label</h3>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
              </ng-template>  
      </ngb-carousel>


    </section>

   



</div>

<section id="section2">
       
        <h2>Need to write some content here</h2>
            
            
    </section>


    <section id="section3">
        <div class="container">

            <h3>Our Contibuters</h3>
            <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                      <div class="avatar mx-auto">
                        <img class="logo" src="https://avatars1.githubusercontent.com/u/54102427?s=400&u=9b5fe2c2efe68367d89647129f9b82e3cddf774b&v=4"
                          alt="Sample avatar" height="200" width="200" style="border-radius: 50%;">
                      </div>
                      <h5 class="font-weight-bold mt-4 mb-3">Sahithi Muriki</h5>
                      <p class="text-uppercase blue-text">
                        <strong>Software Developer</strong>
                      </p>
                     
                    </div>
                    
                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                            <div class="avatar mx-auto">
                                    <img class="logo" src="https://avatars2.githubusercontent.com/u/32428009?s=400&u=c1d2ef93ffb81c85005b43f6852be8e62a27e0ae&v=4"
                                      alt="Sample avatar" height="200" width="200" style="border-radius: 50%;">
                                  </div>
                            <h5 class="font-weight-bold mt-4 mb-3">Shreya Chetan Venkatesh</h5>
                            <p class="text-uppercase blue-text">
                              <strong>Software Engineer</strong>
                            </p>
                           
                          </div>

                          


                    </div>
            
            </div>
                </section>