/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(../node_modules/font-awesome/css/font-awesome.css);
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(rgba(0, 0, 0, 0.43),
	rgba(0, 0, 0, 0.43)), url("/assets/woman2.jpg");
	opacity: 0.9;
	background-position: center;
	background-size: cover;
	height : 100vh;
	background-attachment: fixed;
	height: 100vh;
	color:white;
	font-weight:bold;
}


.backdropBackground{
	background: rgba(250, 253, 250, 0.1);
}


