
<h2>Forgot Password?</h2>
<div>
<div mat-dialog-content>
    <p>Please enter your email address and we will send you a password reset mail.</p>
    <mat-form-field>
      <mat-label>Email ID</mat-label>
      <input matInput [(ngModel)]="data.emailid">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="onClick()" cdkFocusInitial>Send link</button>
    <br/>
    <div id="error" *ngIf="message">
        <p>{{message}}</p>
     </div>
  </div>
