
.invalid-input{
    color: red;
  }
  .container{
    background-image:url(../../assets/conn.jpg);
    max-height: max-content ;
    background-size: cover;
  }

  label{
    font-weight: bold;
  }


  